<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Meus Cards</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="https://via.placeholder.com/200x200.png?text=Card+1" alt="Card 1" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Cadastrar Clientes</h5>
              <p class="card-text">Cadastre novas clientes para a sua loja</p>
              <div class="text-center">
                <button class="btn btn-primary">Botão 1</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="https://via.placeholder.com/200x200.png?text=Card+2" alt="Card 2" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Nova Operaçaõ</h5>
              <p class="card-text">Registre operações de venda, compra ou emprestimo.</p>
              <div class="text-center">
                <button class="btn btn-primary">Botão 2</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="https://via.placeholder.com/200x200.png?text=Card+3" alt="Card 3" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Consultar Clientes</h5>
              <p class="card-text">Veja os clientes já cadastrados na sua loja!</p>
              <div class="text-center">
                <button class="btn btn-primary">Botão 3</button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="card">
            <img src="https://via.placeholder.com/200x200.png?text=Card+4" alt="Card 4" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Operações ativas</h5>
              <p class="card-text">Veja as operações ativas</p>
              <div class="text-center">
                <button class="btn btn-primary">Botão 4</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
